<h1>Welcome back</h1>
<b>Stock left:</b>
<ul><% @store.inventories.each{ |inventory| %>
    <li>
    <% @inventory = inventory %>
    <%= inventory.product.name %> - <%= inventory[:quantity] %> avaiable! 
    <%= button_to("Update Inventory", edit_inventory_path(inventory), method: :get) %>
    </li>
    <br>
<% } %></ul>
<br>

<b>Want to order some different prodcuts?</b>
<%= button_to("Add New Inventory", new_inventory_path, method: :get) %>
