<div class="storepage">
<h1 class="super">Welcome to <%= @store.name %>!</h1>
<br><br>
<b><h3>Products Available:</h3></b>
<br>
<div style="overflow-y: auto; height: 500px; ">
<ul style="padding: 0px; list-style-type: none;"><% @store.inventories.each{ |inventory| %>
    <li>
    <% @inventory = inventory %>
    <b><%= inventory.product.name %></b> - 
    <% if inventory[:quantity] && inventory[:quantity] > 0 %>
        <%= inventory[:quantity] %> avaiable! 
        <%= button_to("Buy Now for $" + number_with_precision(inventory.product.price, precision: 2).to_s + "!", new_purchase_path(inventory), method: :get, class: "store_button") %>
    <% else %>
        <p class="fireText">SOLD OUT</p>
    <% end %>
    </li>
    <br>
<% } %></ul>
</div>
</div>
