<div class="storepage">
<h1>Welcome to <%= @store.name %>!</h1>
<b>Products Available:</b>
<ul><% @store.inventories.each{ |inventory| %>
    <li>
    <% @inventory = inventory %>
    <%= inventory.product.name %> - 
    <% if inventory[:quantity] && inventory[:quantity] > 0 %>
        <%= inventory[:quantity] %> avaiable! 
        <%= button_to("Buy Now for $" + inventory.product.price.to_s + "!", new_purchase_path(inventory), method: :get) %>
    <% else %>
        SOLD OUT
    <% end %>
    </li>
    <br>
<% } %></ul>
</div>
